@import './variables';
@import './reset';

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html, body {
  @each $name, $size in $sizes {
    --s-#{$name}: #{$size};
    .s-#{$name} { --size: var(--s-#{$name}); }
  }

  @each $name, $color in $colors {
    --c-#{$name}: #{$color};
    .c-#{$name} { color: var(--c-#{$name}); }
  }

  @each $name, $font-size in $font-sizes {
    --fz-#{$name}: #{$font-size};
  }

  @each $name, $font-weight in $font-weights {
    --fw-#{$name}: #{$font-weight};
  }

  @each $name, $font-family in $font-families {
    --ff-#{$name}: #{$font-family};
  }


  --border-radius: #{$border-radius};
  --border-radius-small: #{$border-radius-small};

  @each $border, $value in $borders {
    --bd-#{$border}: #{$value};
  }

  --transition-time: #{$transition-time};

  margin: 0;
  padding: 0;
  color: var(--c-black);
  font-family: var(--ff-main);
  font-size: 10px;
}

body {
  font-size: var(--fz-main);
  background-color: var(--c-white);
}

#root {
  display: grid;
  height: 100vh;
}


/************************************************************** Base text styles
*******************************************************************************/
@each $color, $val in $colors {
  *.#{$color} { color: var(--c-#{$color}); }
}


/************************************************* Sizes, paddings, margins, etc
*******************************************************************************/
@each $size, $val in $sizes {
  // Size
  .s-#{$size} { --size: var(--s-#{$size}); height: var(--size); }

  @each $short, $full in (p: 'padding', m: 'margin') {
    // Padding / Margin (all sides) – .p-1, .m-4, ...
    .#{$short}-#{$size} { #{$full}: var(--s-#{$size}); }

    // Padding / Margin horizontal – .ph-1, .mh-4, ...
    .#{$short}h-#{$size} {
      #{$full}-left: var(--s-#{$size});
      #{$full}-right: var(--s-#{$size});
    }
    // Padding / Margin vertical – .pV-1, .mv-4, ...
    .#{$short}v-#{$size} {
      #{$full}-top: var(--s-#{$size});
      #{$full}-bottom: var(--s-#{$size});
    }

    // Padding / Margin top – .pt-1, .mt-4, ...
    .#{$short}t-#{$size} { #{$full}-top: var(--s-#{$size}); }
    // Padding / Margin right – .pr-1, .mr-4, ...
    .#{$short}r-#{$size} { #{$full}-right: var(--s-#{$size}); }
    // Padding / Margin bottom – .pb-1, .mb-4, ...
    .#{$short}b-#{$size} { #{$full}-bottom: var(--s-#{$size}); }
    // Padding / Margin left – .pl-1, .ml-4, ...
    .#{$short}l-#{$size} { #{$full}-left: var(--s-#{$size}); }
  }

}

.square { width: var(--size); }
